:root {
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-background);
  --color-background: #030303;
  --color-primary: #99ff00;
  --color-text: #acacac;
  --color-box-outline: #353535;
}

@font-face {
  font-family: "Jost";
  src: local("Jost"), url("./fonts/Jost.ttf") format("truetype");
}

body {
  margin: 0 0;
  font-family: "Jost";
}

button {
  background: none;
  border: none;
}
ul {
  margin: 0;
  padding-left: 0;
}
h1,
h2 {
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 4rem 0;
  padding: 2rem;
}
.about__heading {
  text-align: center;
  font-size: 4rem;
}

.about__body {
  text-indent: 2.5rem;
}
/* buttons */
.btn {
  margin: 0 0 1rem 0;
  border-radius: 10rem;
  padding: 1.5rem;
  width: fit-content;
  font-size: 2.5rem;
  font-weight: 600;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #000;
  font-weight: 500;
}

.btn--outline {
  background-color: var(--color-background);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 500;
}

.collapsible--hidden {
  height: 0;
  transition: 0.15s;
  overflow: hidden;
}
.collapsible--expanded {
  height: 8rem;
  transition: 0.3s;
  overflow: hidden;
}

/* Forms  */

.form__container {
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.form {
  width: 80%;

  padding: 2rem;
  max-width: 650px;
}

.form__heading {
  margin-bottom: 2rem;
}

.form__btn {
  margin: 0 3rem;
}
.form__submit-container {
  /* border: 1px solid aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.form__label {
  font-size: 2.5rem;
  font-weight: 400;
  color: #acacac;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .form__submit-container {
    width: 55%;
  }

  .form__container {
    height: 90vh;
  }
}
/* headers */
.heading {
  font-size: 5rem;
  line-height: 1.2;
}

.heading__workout {
  margin-left: 1rem;
}

.heading--dark {
  color: var(--color-box-outline);
  text-align: center;
}

.subheading {
  font-size: 2.5rem;
  font-weight: 400;
  color: #acacac;
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 6rem;
  }
}

/* Icons */
.trash-icon {
  height: 4rem;
  width: 3rem;
  color: #fff;
}
/* inputs */
input {
  height: 5rem;
  width: 98%;
  margin-bottom: 2rem;
}
.image__container {
  height: 100%;
  width: 100%;
  display: flex;
}

/*  Lists */
.list {
  list-style: none;
}

/* links */
.link {
  font-size: 2.5rem;
  text-decoration: none;
  transition: 0.3s;
}
.link:hover {
  color: #fff;
  text-shadow: 0 0 2px #fff;
}

.signup {
  /* border: 1px solid aliceblue; */
  padding-right: 3rem;
}
.signup-link {
  padding-left: 1rem;
}

/* navbar */
.nav__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--color-background);
  /* border-bottom: 2px solid var(--color-box-outline); */
}
.nav {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav__list {
  width: 100%;
}

.nav__toggle {
  color: white;
  height: 40px;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    height: fit-content;
    width: fit-content;
  }

  .nav__item {
    margin-left: 2rem;
  }
}

.nav__offset {
  margin: 9rem auto 0 auto;
}

.hero {
  padding: 0 1rem;
  /* border: 1px solid white; */
  height: fit-content;
  font-size: 8rem;
}

.hero__header {
  padding-right: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__image {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Logo */

.logo {
  font-weight: 900;
  text-decoration: none;
  font-style: italic;
  font-size: 3.5rem;
  color: #fff;
}
.logo-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo-desktop {
    display: inline;
    /* font-style: normal; */
    font-weight: 450;
    text-decoration: none;
    color: #525252;
    padding-left: 0.2rem;
  }
}
/* Positioning */
.space-between {
  display: flex;
  justify-content: space-between;
}

/* tables */

.table {
  width: 100%;
}

.table__container {
  margin: 0;
}
.table__btn-container {
  display: flex;
  justify-content: center;
}

.table__exercise {
  font-size: 3.5rem;
  margin-left: 0.5rem;
}

.table__item {
  text-align: center;
}
.table__column-heading {
  font-size: 2.5rem;
}
.table__column-value {
  font-size: 2.5rem;
}
.table__btn {
  margin-top: 0.5rem;
  width: 90%;
}
.table--underline {
  border-bottom: 1px solid var(--color-box-outline);
}
/* Workouts */
.workout__container {
  margin: 0;
}
.workout__list-item {
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}
.workout-list__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 1.5rem;
}
.workout-list__date {
  font-size: 2.5rem;
}
/* Other Styles */
/* text */

.text {
  color: var(--color-text);
  font-size: 2.5rem;
  /* text-indent: 2.5rem; */
}
/* Errors */
.text-error {
  color: #c60000;
}
/* Main title */
.main-title {
  margin-bottom: 3rem;
}
.text--bold {
  font-weight: 700;
}
.text--bright {
  color: var(--color-primary);
}

/* Other Styles */
.outline {
  border: 2px solid var(--color-box-outline);
}

.center {
  /* border: 1px solid palegoldenrod; */
  display: flex;
  justify-content: center;
  align-items: center;
}
